body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul,
ol {
  padding: 0;
}

img {
  display: block;
}

:root {
  --white-color: #ffffff;
  --navy-blue: #2e2f42;
  --blue: #4d5ae5;
  --block-background: #f4f4fd;
  --hov-foc: #404bbf;
  --button-border: #e7e9fc;
  --text-color: #434455;
  --text-grey: #8e8f99;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--white-color);
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
/* header */

.header-wrap {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--button-border);
  display: flex;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.menu-block {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blue);
  margin-right: 76px;
}

.header-logo span {
  color: var(--navy-blue);
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-menu-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
}

.header-menu-link {
  /*  */
  color: var(--hov-foc);
  padding: 24px 0;
  /* transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.active {
  position: relative;
  color: var(--hov-foc);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:focus,
.header-menu-link:hover {
  text-decoration: underline;
  color: var(--hov-foc);
}

/* .header-menu-link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  border-radius: 2px;
  height: 4px;
  background: var(--hov-foc);
} */

.active::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  border-radius: 2px;
  height: 4px;
  background: var(--hov-foc);
}

.header-address {
  font-style: normal;
  display: flex;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-address-link {
  color: var(--text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:focus,
.header-address-link:hover {
  color: var(--hov-foc);
}

/* main */

.hero {
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/hero.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 188px 0;
  margin: 0 auto;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-color);
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--blue);
  color: var(--white-color);
  cursor: pointer;
  margin: auto;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:focus,
.hero-button:hover {
  background-color: var(--hov-foc);
  color: var(--white-color);
}

.solution {
  padding: 120px 0;
}

.solution-list {
  display: flex;
  gap: 24px;
}

.solution-item {
  width: calc((100% - 72px) / 4);
}

.solution-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 112px;
  background-color: var(--block-background);
  padding: 24px 100px;
  margin-bottom: 8px;
  border-radius: 4px;
}

/* .solution-item-icon {
  display: block;
  margin: auto;
} */

.solution-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.solution-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
}

.job {
  padding-bottom: 120px;
}

.job-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  text-align: center;
  margin-bottom: 72px;
}

.job-list {
  display: flex;
  gap: 24px;
  margin-bottom: 120px;
  justify-content: space-between;
}

.job-item {
  width: calc((100% - 48px) / 3);
}

.team {
  background: #f4f4fd;
  padding-top: 120px;
  padding: 120px 0;
}

.team-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  text-align: center;
  margin-bottom: 72px;
}

.team-item {
  background-color: var(--white-color);
  text-align: center;
  padding: 32px 0;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item-descriptin {
  padding: 32px 0;
}

/* social */

.soc-list {
  /* width: calc((100% - 72px) / 4); */
  display: flex;
  gap: 24px;
  justify-content: center;
}

.soc-wrap {
  display: flex;
  width: 40px;
  height: 40px;
}

.soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  border-radius: 50%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .soc-wrap a {
  display: block;
} */

.soc-link:hover,
.soc-link:focus {
  background-color: var(--hov-foc);
}

.soc-svg {
  fill: var(--block-background);
}

/* social */

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
  text-align: center;
}

.team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

/* customers */

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.customers-item-wrap {
  width: calc((100% - 120px) / 6);
  height: 88px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: var(--text-grey);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  border-color: var(--hov-foc);
  color: var(--hov-foc);
}

.customer-icon {
  fill: currentColor;
}

/* portfolio */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.potrfolio-filter {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-button {
  color: var(--blue);
  background: var(--block-background);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--blue);
  cursor: pointer;
  margin: auto;
  border: none;
  padding: 12px 24px;
  border: 1px solid var(--button-border);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--hov-foc);
  color: var(--white-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition-property: box-shadow;
  /* transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.portfolio-item-descriptin {
  padding: 32px 16px;
  border: 1px solid var(--button-border);
  border-top: none;
}

.portfolio-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  width: calc((100% - 48px) / 3);
}

.portfolio-item:hover p,
.portfolio-item:focus p {
  transform: translatey(0);
}

.portfolio-link:hover p,
.portfolio-link:focus p {
  transform: translatey(0);
}

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--block-background);
  background-color: var(--blue);
  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  transform: translateY(100%);
}

.portfolio-overlay-wrap {
  position: relative;
  overflow: hidden;
}

/* footer */

.footer-wrap {
  display: flex;
  /* gap: 120px; */
  align-items: baseline;
}

.footer-wrap-logo {
  margin-right: 120px;
  max-width: 264px;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blue);
  margin-bottom: 16px;
}

.footer-logo span {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-down {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer-subtitle {
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-soc-list {
  /* width: calc((100% - 72px) / 4); */
  display: flex;
  gap: 16px;
  /* justify-content: center; */
}

.footer-soc-wrap {
  /* display: flex; */
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  border-radius: 50%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

/* .footer-soc-svg {
  fill: #f4f4fd;
} */

/* backdrop */

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  display: flex;
  right: 24px;
  width: 24px;
  top: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--hov-foc);
  border: none;
}

.modal-btn-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-btn-svg,
.modal-btn:focus .modal-btn-svg {
  fill: var(--white-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-family: "Roboto";
  /* font-style: normal; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  /* margin-top: 72px; */
  margin-bottom: 16px;
}

.form-item-wrap {
  margin-bottom: 8px;
}

/* .modal-form {
  margin: 0 24px;
} */

.input-wrap {
  position: relative;
  margin-bottom: 8px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  /* margin-bottom: 8px; */
  padding-left: 38px;
  padding-right: 18px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--blue);
}

.modal-input:focus + .input-icon {
  fill: var(--blue);
}

.modal-label-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--text-grey);
  display: block;
  margin-bottom: 4px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 4px;
  resize: none;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-wrap {
  margin-bottom: 16px;
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.input-icon {
  fill: var(--navy-blue);
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-wrap {
  margin-bottom: 24px;
}

.check-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  /* display: flex; */
  align-items: center;
}

.check-text a {
  color: var(--blue);
  text-decoration: underline;
}

.check-privacy {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.link-privacy {
  color: var(--blue);
}

.modal-form-btn {
  min-width: 169px;
  height: 56px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  letter-spacing: 0.04em;
  background-color: var(--blue);
  color: var(--white-color);
  cursor: pointer;
  margin: auto;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:focus,
.modal-form-btn:hover {
  background-color: var(--hov-foc);
}

/* footer-sibscribe */

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--white-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus {
  border-color: var(--blue);
}

.footer-input::placeholder {
  /* font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  align-items: center;
  letter-spacing: 0.04em; */
  color: var(--white-color);
}

.subscribe-wrap {
  margin-left: 82px;
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--blue);
  color: var(--white-color);
  cursor: pointer;
  margin: auto;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:focus,
.subscribe-btn:hover {
  background-color: var(--hov-foc);
}

.subscribe-btn:focus + .subscribe-svg {
  fill: var(--blue);
}

.subscribe-svg {
  margin-left: 16px;
}

.subscribe-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* display: inline-block; */
  color: #ffffff;
  margin-bottom: 16px;
}
